/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */
.pull-up {
  margin-top: -9px;
}

.top-caption-down {
  top: -400px;
  vertical-align: -350px;
}

.pull-left {
  margin-left: 150px;
}

#mason-pic {
  margin-top:-110px;
}

.black-background {
    background-color: black;
}

.padded-y-2 {
    padding: 0 2px 0 2px;
}

@media (min-width: 768px) {
    .navbar-transparent .maybe-black-background {
        background-color: black;
    }
}
